.skill {
}

.skill__icon {
  font-size: 3rem;
  color: #20639b;
  position: static;
  /* width: 40; */
  /* margin-top: 20%; */
}

.skill__icon img {
  width: 3.75rem;
  height: 3.75rem;
  color: #20639b;
  position: static;
  /* width: 40; */
  /* margin-top: 20%; */
}

.skill__title {
  font-size: 0.75rem;
  font-weight: bolder;
  color: #20639b;
  position: static;
  width: 40;
  margin-top: -20%;
}
