.skills-list {
  width: 100%;
  background-color: rgb(242, 242, 242);
}

.skills-list__title {
  width: 100%;
  margin: 0 0 0 0;
  color: black;
  font-size: 26px;
}

.skills-list__skill {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
