.title ul {
  background: url("./pattern_04.jpg") no-repeat center top;
  /* list-style-image: url("./pattern_04.jpg"); */
  width: 100%;
  height: 100%;
  /* display: inline; */
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-repeat: no-repeat;
  float: left;
  text-align: center;
  color: rgb(219, 219, 219);
  background-position: center center;
  /* min-height: 400px; */
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  box-sizing: border-box;
}

.title__infos {
  width: 50%;
  margin: auto;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
}

.title li {
  text-decoration: none;
  list-style-type: none;
}

.title__name {
  font-size: 3rem;
  font-weight: bolder;
}

.title__university {
  font-size: 1.5rem;
  font-weight: bolder;
}

.title__field {
  font-size: 1.5rem;
  font-weight: bolder;
}

.title__extera {
  font-size: 1.5rem;
  font-weight: bolder;
}
