#title__wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.title__content {
  /* color: #ffffff; */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 26px;
  position: absolute;
  z-index: 100;
  text-align: center;
}

.title__content__item {
  color: rgb(219, 219, 219);
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.title__content__name {
  font-size: 4rem;
}

.title__content__university {
  font-size: 2rem;
}

.title__content__extera {
  font-size: 1rem;
}

.title__background {
  /* background-color: #00326b; */
  background-color: #262928;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-color: rgb(243, 82, 8); */
  position: relative;
  top: 0;
  left: 0;
  z-index: -100;
}

@media (max-width: 769px) {
  .title__content__name {
    font-size: 3rem;
  }

  .title__content__university {
    font-size: 1.5rem;
  }

  .title__content__extera {
    font-size: 0.75rem;
  }
}
