.side-drawer-avatar {
  text-align: center;
  flex-direction: column;
  display: flex;
  padding-bottom: 2rem;
}

.side-drawer-avatar__image img {
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  width: 50%;
  height: 70%;
  padding-top: 0px;
  justify-content: center;
}

.side-drawer-avatar__name {
  padding: 1rem 0 1rem 0;
  color: #dbdbdb;
  font-size: 2rem;
  font-weight: bold;
}

.side-drawer-avatar__university {
  padding-bottom: 1rem;
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: bold;
}

.side-drawer-avatar__field {
  padding-bottom: 1rem;
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: bold;
}
