.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 30, 31, 1);
  height: 10rm;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__avatar {
  margin-left: 1rem;
}

.toolbar__avatar img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  padding-top: 10px;
}

.toolbar__avatar a {
  color: rgb(219, 219, 219);
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.toolbar__navigation-items a {
  color: rgb(219, 219, 219);
  text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: #fa923f;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    /* display: none; */
  }

  .toolbar__avatar {
    margin-left: 0;
  }
}
