.project {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.project__image img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  /* display: inline-block; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  align-content: center; */
}

.project__content {
  /* display: flex; */
  align-items: left;
  justify-content: left;
}

.project__title {
  text-align: left;
}

.project__explanation {
  text-align: justify;
}

.project__link a {
  color: rgb(252, 30, 80);
}

.project__link a:hover {
  color: rgb(255, 130, 160);
}

@media (max-width: 769px) {
  .project__title {
    text-align: center;
  }
}
