.footer {
  width: 100%;
  padding-top: 2rem;
  background: rgb(33, 33, 33);
  /* color: rgb(219, 219, 219); */
  color: white;
  font-size: 1rem;
}

.footer__content {
}

.footer__items-title {
  font-weight: bold;
}

.footer__items-content {
  font-weight: normal;
  color: rgb(28, 188, 173);
  padding-bottom: 1rem;
}

.footer__items-content a {
  color: rgb(28, 188, 173);
}

.footer__items-content a:hover {
  color: rgb(108, 133, 131);
}

.footer__social-links a {
  background: transparent;
  border-color: transparent;
  color: rgb(28, 188, 173);
}

.footer__social-links a:hover {
  background: transparent;
  border-color: transparent;
  color: rgb(108, 133, 131);
}
