.skill {
}

.skill__icon {
  font-size: 3rem;
  color: rgb(28, 188, 173);
  position: static;
  /* width: 40; */
  /* margin-top: 20%; */
}

.skill__title {
  font-size: 0.75rem;
  font-weight: bolder;
  color: rgb(28, 188, 173);
  position: static;
  width: 40;
  margin-top: -20%;
}
