.project {
  list-style-type: none;
}

.project.large {
  padding-left: 20rem;
  display: flex;
}

.project.small {
  padding-left: 1rem;
  padding: 0 0 0 0;
}

.project__image img {
  width: 20rem;
  height: 15rem;
}

.project__image.large img {
}

.project__image.small img {
  display: block;
  margin: 0 auto;
}

.project__content {
  list-style-type: none;
}

.project__title {
  font-size: 2rem;
  font-weight: bolder;
}

.project__title.large {
  text-align: justify;
}

.project__title.small {
  /* display: block; */
  text-align: center;
}

.project__explanation {
  font-size: 1rem;
  text-align: justify;
}

.project__explanation.large p {
  padding-right: 10rem;
}

.project__explanation.small p {
  padding: 0 1rem 0 1rem;
}

.project__refereces {
  font-size: 1rem;
}

.project__refereces.large {
  padding-right: 10rem;
  text-align: left;
}

.project__refereces.small {
  padding: 0 1rem 0 1rem;
  text-align: left;
}

@media (min-width: 769px) {
  .project.small {
    display: none;
  }
}

@media (max-width: 768px) {
  .project.large {
    display: none;
  }
}
